body {
    background-color: #B5E5FF;
    color: #37454C;
}

h1, h2 {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.gap-3 {
    gap: 0.75rem;
}

.pad-3 {
    padding: 2rem;
}

.bold {
    color: #37454C;
}

.light {
    color: #647F8C;
}

.main {
    background-color: #C6C7FF;
    border: 2px solid #E1A9F6;
    border-radius: 5px;
    font-family: Atkinson Hyperlegible, sans-serif;
    max-width: 100%;
    position: relative;
    top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
}